:root {
    --primary: #ff69b4;
    --accent: #d04894;
    --gradient-bg: linear-gradient(to right, #ff69b4, #d04894);
    --text: #333;
}

body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
}
header {
    background: var(--gradient-bg);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    transition: 0.3s;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: white;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: var(--accent);
}

.btn:hover{
    background: #f8c8dc;
}

section {
    padding: 30px 20px;
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.submit{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background:var(--primary) ;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 40px;
}

.feature-box {
    background: #ffecf3;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.03 ease;
}

.feature-box:hover {
    transform: translateY(-5px)
}

.feature-box i {
    font-size: 2.5rem;
    color: var(--accent);
}

.feature-box h3 {
    font-size: 1.3rem;
    color: var(--primary);
}

.cta {
    background: var(--primary);
    color: white;
    padding: 60px 20px;
    text-align: center;
    max-width: 1100px;
}

@keyframes bounceIn {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
	40% {
    transform: translateY(-30px);
  }
	60% {
    transform: translateY(-10px);
  }
}

header h1 {
    animation: bounceIn 2s infinite 2s;
  }







